<main class="holder">
    <div class="homeimg">
        <img src="images/saloon.jpg" alt="Salon">

    </div>
    <div class="columnas">

    </div>
    <div class="bienvenidos left">
        <h2>Bienvenidos a AMBAR ♥</h2>
        <p>Ambar nació como un pequeño salón de eventos para un reducido grupo de personas, en el año 2007.</p>
        <p>Con el correr de los años, se dió la gran posibilidad de ampliar el espacio, permitiendo que las fiestas y eventos puedan compartirse entre más personas.</p>


    </div>
    <div class="testimonios right">
        <h2>Testimonios</h2>
        <div class="testimonio">
            <span class="cita">Hemos pasado una de las noches más hermosas de nuestras vidas!</span>
            <span class="autor">Sol Martinez - Festejó los XV de su hija, Lucila</span>

        </div>

    </div>

</main>