<main class="holder">
   
   <div class="staff">
       <h2>Staff</h2>
       <div class="personas">
           <div class="persona">
               <img src="images/ambarvioleta.jpg" alt="Ambar Violeta">
               <h5>Ambar Violeta</h5>
               <h6>Fundadora</h6>
               <p>Ambar siempre soñó con su fiesta de XV desde que era una pequeña niña, soñaba con hacer realidad su noche soñada en un lugar alegre, cálido, que a todos haga sentir bien, tal fue su sueño que de muy joven le dió forma creando AMBAR Recepciones.</p>



           </div>

       </div>

   </div>
</div>
<div class="staff">
    
    <div class="personas">
        <div class="persona">
            <img src="images/allegrvioleta.jpg" alt="Allegra Violeta">
            <h5>Allegra Violeta</h5>
            <h6>Coordinadora</h6>
            <p>Allegra, hija mayor de Ambar, se sumó al equipo como un pasatiempo y luego se convirtió en su profesión, coordinando cada evento, cada minuto, para que sea especial e inolviable.</p>

            

        </div>

    </div>

</div>

</div>
<div class="staff">
    
    <div class="personas">
        <div class="persona">
            <img src="images/sergiodavice.jpg" alt="Sergio Davice">
            <h5>Sergio Davice</h5>
            <h6>Coordinador</h6>
            <p>Sergio ha sido un amigo de la familia desde hace muchísimos años y ha demostrado que tiene mucha facilidad para la coordinación, sobre todo cuando es improvisado y en poco tiempo.</p>

            

        </div>

    </div>

</div>

</div>

</main>